<link rel="stylesheet" href="/css/images.css">
<div class="dash">
    <div class="all_forms_img">
    <h3>Home page</h3>
    <div class="home">
        <form action="/admin/img/edit/main_course_data_info_img" method="post" enctype="multipart/form-data">
            <label for="main_course_data_info_img"><img src="/img/{{img.main_course_data_info_img}}" alt="src"></label>
            <input type="file" name="img" required id="main_course_data_info_img">
            <button>Send</button>
        </form>
        <form action="/admin/img/edit/programming_steps_img" method="post" enctype="multipart/form-data">
            <label for="programming_steps_img"><img src="/img/{{img.programming_steps_img}}" alt="src"></label>
            <input type="file" name="img" required id="programming_steps_img">
            <button>Send</button>
        </form>
        <form action="/admin/img/edit/practices_img" method="post" enctype="multipart/form-data">
            <label for="practices_img"><img src="/img/{{img.practices_img}}" alt="src"></label>
            <input type="file" name="img" required id="practices_img">
            <button>Send</button>
        </form>
        <form action="/admin/img/edit/mentor_img" method="post" enctype="multipart/form-data">
            <label for="mentor_img"><img src="/img/{{img.mentor_img}}" alt="src"></label>
            <input type="file" name="img" required id="mentor_img">
            <button>Send</button>
        </form>
    </div>
    <h3>Contact page</h3>
    <div class="home">
        <form action="/admin/img/edit/home_left_second_img" method="post" enctype="multipart/form-data">
            <label for="home_left_second_img"><img src="/img/{{img.home_left_second_img}}" alt="src"></label>
            <input type="file" name="img" required id="home_left_second_img">
            <button>Send</button>
        </form>
    </div>
    <h3>Coworking page</h3>
    <div class="home">
        <form action="/admin/img/edit/coworking_left" method="post" enctype="multipart/form-data">
            <label for="coworking_left"><img src="/img/{{img.coworking_left}}" alt="src"></label>
            <input type="file" name="img" required id="coworking_left">
            <button>Send</button>
        </form>
    </div>
</div>
</div>