<!-- ====================== footer  -->
<footer>
  <div class="container">
    <div class="row">
      <div class="footer_header">
        <div class="logo">
          <a href="/">
            <img src="/img/logo_icon.png" alt="logo" />
          </a>
        </div>
      </div>
      <div class="footer_menu">
        <ul>
          <li>
            <a href="/courses">{{nav.courses}}</a>
          </li>
          <li>
            <a href="/lessons">{{nav.open_lessons}}</a>
          </li>
          <li>
            <a href="/coworking">{{nav.coworking}}</a>
          </li>
          <li>
            <a href="/contact">{{nav.contacts}}</a>
          </li>
        </ul>
      </div>
      <div class="footer_phone">
        <a href="tel:{{nav.number}}">
          <img src="/img/phone.png" alt="phone" />
          <span>{{nav.number}}</span>
        </a>
      </div>
      <div class="social">
        <a href="{{link.telegram}}"><svg width="24" height="24" fill="none">
            <path
              d="M5.77478 13.6752L8.75977 21.1371L12.6458 17.2511L19.3087 22.5469L24 1.45312L0 11.45L5.77478 13.6752ZM17.142 7.50513L9.79596 14.2055L8.88098 17.6539L7.19073 13.4275L17.142 7.50513Z">
            </path>
          </svg></a>
        <a href="{{link.instagram}}">
          <svg width="24" height="24" fill="none">
            <path
              d="M20.4844 0H3.51562C1.57727 0 0 1.57727 0 3.51562V20.4844C0 22.4227 1.57727 24 3.51562 24H20.4844C22.4227 24 24 22.4227 24 20.4844V3.51562C24 1.57727 22.4227 0 20.4844 0ZM12.0469 18.2812C8.55743 18.2812 5.71875 15.4426 5.71875 11.9531C5.71875 8.46368 8.55743 5.625 12.0469 5.625C15.5363 5.625 18.375 8.46368 18.375 11.9531C18.375 15.4426 15.5363 18.2812 12.0469 18.2812ZM19.0781 7.03125C17.915 7.03125 16.9688 6.08496 16.9688 4.92188C16.9688 3.75879 17.915 2.8125 19.0781 2.8125C20.2412 2.8125 21.1875 3.75879 21.1875 4.92188C21.1875 6.08496 20.2412 7.03125 19.0781 7.03125Z">
            </path>
            <path
              d="M19.0781 4.21875C18.6901 4.21875 18.375 4.53387 18.375 4.92188C18.375 5.30988 18.6901 5.625 19.0781 5.625C19.4661 5.625 19.7812 5.30988 19.7812 4.92188C19.7812 4.53387 19.4661 4.21875 19.0781 4.21875Z">
            </path>
            <path
              d="M12.0469 7.03125C9.33325 7.03125 7.125 9.2395 7.125 11.9531C7.125 14.6667 9.33325 16.875 12.0469 16.875C14.7605 16.875 16.9688 14.6667 16.9688 11.9531C16.9688 9.2395 14.7605 7.03125 12.0469 7.03125Z">
            </path>
          </svg>
        </a>
        <a href="{{link.facebook}}">
          <svg width="24" height="24" fill="none">
            <path
              d="M22.6738 0.000999451H1.3246C0.593539 0.000999451 0 0.593353 0 1.3256V22.6748C0 23.4071 0.593539 24.0002 1.3246 24.0002H12.8184V14.7063H9.69105V11.0838H12.8184V8.4125C12.8184 5.31321 14.7108 3.62467 17.4762 3.62467C18.802 3.62467 19.9389 3.72386 20.2704 3.76693V7.0065L18.3523 7.00729C16.8487 7.00729 16.5586 7.72214 16.5586 8.77052V11.0826H20.1459L19.6769 14.7047H16.5582V23.999H22.6734C23.4053 23.999 23.9992 23.4051 23.9992 22.6748V1.3248C23.9988 0.593353 23.4057 0.000999451 22.6738 0.000999451Z">
            </path>
          </svg>
        </a>
      </div>
    </div>
  </div>
</footer>

<script src="/script/slider-menu.js"></script>