<link rel="stylesheet" href="/css/about.css">

<header
  style="background: url('{{uploadPath}}{{course.bg}}') !important; background-repeat: no-repeat !important; background-size: cover !important; background-position: center !important;">
  <div class="hero">
    <div class="container-fluid">
      <div class="row justify_content_center">
        <div class="hero_info">
          <div class="row f_column hero_info_title align_items_center">
            <h2 class="hero_title">{{course.title}}</h2>
            <a href="/contact"><button class="hero_info_button">Yozilish</button></a>
          </div>
          <div class="row justify_content_between hero_info_info">
            <div class="hero_info_text">
              <p class="hero_info_text_about">Vaqti</p>
              <h4 class="hero_info_text_about_value">{{course.duration}}</h4>
            </div>
            <div class="hero_info_line"></div>
            <div class="hero_info_text">
              <p class="hero_info_text_about">O'qish turi</p>
              <h4 class="hero_info_text_about_value">{{course.format}}</h4>
            </div>
            <div class="hero_info_line"></div>
            <div class="hero_info_text">
              <p class="hero_info_text_about">Narxi</p>
              <h4 class="hero_info_text_about_value">{{course.price}} сум / мес</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<section class="course_about">
  <div class="container">
    <div class="row justify_content_between align_items_center course_about_info">
      <div class="course_about_info_text">
        <h3 class="course_about_info_text_title">{{course.title}}</h3>
        <p class="course_about_info_text_text">{{course.description}}</p>
        <a href="/contact"><button class="course_about_info_text_btn">
            Yozilish
          </button></a>
      </div>
      <div class="course_about_info_img">
        <img src="{{uploadPath}}{{course.img}}" alt="" />
      </div>
    </div>
  </div>
</section>

<section class="for_people">
  <div class="container">
    <div class="row align_items_center justify_content_center">
      <h2 class="for_people_title">Kurs kimlarga to'g'ri keladi?</h2>
    </div>
    <div class="row f_column">
      {{#each fors}}
      <div class="row for_people_card justify_content_between">
        <div class="level_of_people">
          <h3 class="level_of_people_text"><span>{{index}} /</span>{{title}}</h3>
        </div>
        <div class="for_people_card_info">
          <p class="for_people_card_info_text for_people_card_info_text_first">{{description}}</p>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</section>

<section class="learn">
  <div class="container">
    <div class="row f_column">
      <div class="row align_items_center justify_content_center">
        <h2 class="for_people_title learn_title">Nimalarga o'rganasiz?</h2>
      </div>
      {{#each learns}}
      <div class="row align_items_center learn_card">
        <div class="learn_card_img">
          <img src="{{uploadPath}}{{img}}" alt="" />
        </div>
        <div class="learn_card_info">
          <div class="row align_items_start">
            <div class="learn_card_row">
              <svg width="24" height="24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M12.0117 0.751984C5.79853 0.751984 0.761719 5.78875 0.761719 12.002C0.761719 18.2152 5.79853 23.252 12.0117 23.252C18.2249 23.252 23.2617 18.2152 23.2617 12.002C23.2617 5.7888 18.225 0.751984 12.0117 0.751984ZM18.906 18.8963C17.1964 20.6006 14.9136 21.6075 12.5022 21.7206C10.0908 21.8337 7.72372 21.0451 5.8621 19.5082C4.00048 17.9714 2.7777 15.7965 2.43204 13.4074C2.08638 11.0183 2.64259 8.58599 3.99229 6.58455C5.34199 4.5831 7.3885 3.15585 9.73305 2.58089C12.0776 2.00594 14.5522 2.32446 16.6748 3.4744C18.7973 4.62435 20.4156 6.52333 21.2145 8.80133C22.0134 11.0793 21.9355 13.5732 20.9961 15.7969C20.5065 16.9555 19.7967 18.0081 18.906 18.8963Z"
                  fill="#242424"></path>
                <path
                  d="M11.233 7.73377L14.7511 11.2519H6.00641V12.7519H14.7511L11.233 16.2701L12.2936 17.3307L17.6224 12.0019L12.2936 6.67313L11.233 7.73377Z"
                  fill="#242424"></path>
              </svg>
            </div>
            <div class="learn_card_info_text">
              <h4 class="learn_card_info_text_title">{{title}}</h4>
              <p class="learn_card_info_text_text">{{description}}</p>
            </div>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</section>

<section class="money"
  style="background: url(/img/course/Rectangle\ 8.jpg); background-repeat: no-repeat;background-size: cover;">
  <div class="container-fluid">
    <div class="row w_mobile">
      <div class="money_value">
        <div class="money_text">
          <h3 class="money_value_text_title">{{course.salary}}</h3>
          <p class="money_value_text_text">{{course.salary_info}}</p>
        </div>
      </div>
      <div class="money_vakansy">
        <p class="money_vakansy_text">{{course.salary_desc}}</p>
      </div>
    </div>
  </div>
</section>

<section class="level_of_teching">
  <div class="container">
    <div class="row align_items_center">
      <h2 class="level_of_teaching_title">Kurs rejasi </h2>
    </div>
    <div class="row align_items_center">
      <ul class="level_of_teaching_ul">
        {{#each course.program}}
        <li class="level_of_teaching_ul_item">{{this}}</li>
          {{/each}}
      </ul>
    </div>
  </div>
</section>

{{> contact_form}}