<link rel="stylesheet" href="/css/edit_text.css">
<div class="dash">
    <div class="head">
    <form action="/admin/edit/contact/{{contact.id}}/hero_title_left_title" method="post">
        <label for="hero_title_left_title">Contact sahifasi chap tomondagi sarlavhasi</label>
        <input value="{{contact.hero_title_left_title}}" type="text" name="hero_title_left_title" id="hero_title_left_title">
        <button type="submit">send</button>
    </form>
    <form action="/admin/edit/contact/{{contact.id}}/hero_title_left_text" method="post">
        <label for="hero_title_left_text">Contact sahifasi chap tomondagi teksti</label>
        <input value="{{contact.hero_title_left_text}}" type="text" name="hero_title_left_text" id="hero_title_left_text">
        <button type="submit">send</button>
    </form>
    <form action="/admin/edit/contact/{{contact.id}}/phone_text" method="post">
        <label for="phone_text">Telefon</label>
        <input value="{{contact.phone_text}}" type="text" name="phone_text" id="phone_text">
        <button type="submit">send</button>
    </form>
    <form action="/admin/edit/contact/{{contact.id}}/right_form_form_title" method="post">
        <label for="right_form_form_title">Contact sahifasi o'ng tomondagi sarlavha</label>
        <input value="{{contact.right_form_form_title}}" type="text" name="right_form_form_title" id="right_form_form_title">
        <button type="submit">send</button>
    </form>
    <form action="/admin/edit/contact/{{contact.id}}/right_form_form_text" method="post">
        <label for="right_form_form_text">Contact sahifasi o'ng tomondagi teksti</label>
        <input value="{{contact.right_form_form_text}}" type="text" name="right_form_form_text" id="right_form_form_text">
        <button type="submit">send</button>
    </form>
    <form action="/admin/edit/contact/{{contact.id}}/right_form_form_name_input" method="post">
        <label for="right_form_form_name_input">Formadagi ism uchun joy</label>
        <input value="{{contact.right_form_form_name_input}}" type="text" name="right_form_form_name_input" id="right_form_form_name_input">
        <button type="submit">send</button>
    </form>
    <form action="/admin/edit/contact/{{contact.id}}/right_form_form_phone_input" method="post">
        <label for="right_form_form_phone_input">Formadagi telefon uchun joy</label>
        <input value="{{contact.right_form_form_phone_input}}" type="text" name="right_form_form_phone_input" id="right_form_form_phone_input">
        <button type="submit">send</button>
    </form>
    <form action="/admin/edit/contact/{{contact.id}}/right_form_form_btn" method="post">
        <label for="right_form_form_btn">Formadani yuborish uchun tugma</label>
        <input value="{{contact.right_form_form_btn}}" type="text" name="right_form_form_btn" id="right_form_form_btn">
        <button type="submit">send</button>
    </form>
</div>
</div>